.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.btn {
  font-weight: 600;
  letter-spacing: 0.4px;
}
.header-zone {
  margin-top: -10px;   /* remonte de 10px */
}
